################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GitHubProjects/bin/Debug/net6.0
/GitHubProjects/obj
